.card ::after{
    content :"";
    position : absolute;
    inset : 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.card:hover img{
    filter: grayscale(1) brightness(0.4);
}
.card:hover::after{
    overflow: 1;
    inset: 20px;
}
.content{
    width:80%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}